html {
	height: 100%;
}
body{
	height:100%;
}
.MenuLeiste {
	background-color: #5B90CE;
	text-align: center;
	padding: 10px;
	margin: 5px;
	height: auto;
	max-height: 50px;
	border-radius: 25px;
	font-size:20px;
}

.container {
	height:auto;
	display:flex;
	min-height:250px;
}

.UnterMenu {
	min-width: 150px;
	max-width: 200px;
	width: 15%;
	height: auto;
	float: left;
	background-color: #8EABCC;
	text-align: left;
	font-family: Verdana, sans-serif;
	margin-right: 5px;
	border-radius: 25px;
	font-size:18px;
}
	.UnterMenu > p {
		border-radius: 25px;
		text-decoration: none;
	}
	.UnterMenu>p>a{
		display:block;
	}

.Inhalt {
	font-family: Verdana, sans-serif;
	background-color: #B7C1CC;
	height: inherit;
	width: 100%;
	overflow: hidden;
	border-radius: 25px;
	padding: 15px;
	display: block;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: Verdana, sans-serif;
}

h5 {
	padding: 10px;
	margin: 0px;
	font-size: medium;
	background-color: aquamarine;
}

details{
	margin-bottom:5px;
}

	details > summary {
		padding: 4px;
		width: fit-content;
		border: none;
		cursor: pointer;
		font-size: 18px;
		font-weight: bold;
		color: #1E6FCC;
	}

details > ol {
	margin: 0;
}
details > ol > li {

	float: inherit;
	width: auto;
	margin-bottom: 3px;
	padding: 5px;
	}
details >  ol > li > ul > li {
	float: inherit;
	width: auto;
}

table {
	width: 100%;
	table-layout: fixed;
}
.MenuLeiste li {
	float: left;
	width: 20%;
	min-width: 100px;
}

.MenuLeiste li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
}

		/* Change the link color to #111 (black) on hover */
.MenuLeiste li a:hover {
	background-color: #546;
	color: white;
	border-radius: 25px;
}

p {
	height: 25px;
	text-align: center;
}	
	p:hover {
		background-color: #546;
		color: white;
	}
a, a:hover, a:visited, a:active {
	color: inherit;
	text-decoration: none;
}