<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AntonBot.Properties.DiscordScopes" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AntonBot.Properties.TwitchEvent" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AntonBot.Properties.TwitchScopes" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.50.0.0" newVersion="1.50.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.49.0.0" newVersion="1.49.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <AntonBot.Properties.DiscordScopes>
      <setting name="clientID" serializeAs="String">
        <value />
      </setting>
      <setting name="AccessToken" serializeAs="String">
        <value />
      </setting>
    </AntonBot.Properties.DiscordScopes>
    <AntonBot.Properties.TwitchEvent>
      <setting name="OnStreamOnline" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnStreamOnlineChatText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnStreamOnlineKonsoleText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnStreamOnlineDiscordText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnStreamOffline" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnStreamOfflineChatText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnStreamOfflineKonsoleText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnStreamOfflineDiscordText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnStreamUpdate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnStreamUpdateChatText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnStreamUpdateKonsoleText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnStreamUpdateDiscordText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnNewFollowersDetected" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnNewFollowersDetectedChatText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnNewFollowersDetectedKonsoleText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnNewFollowersDetectedDiscordText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnMessageReceived" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="OnMessageReceivedChatText" serializeAs="String">
        <value>Die Reaktion auf einer Chat-Nachricht erfolgt über die Bot-Kommandos. Eine Einstellung hier ist, außer die Aktivierung, nicht notwendig</value>
      </setting>
      <setting name="OnMessageReceivedKonsoleText" serializeAs="String">
        <value>Die Ausgabe würde bei vielen Nachrichten sehr schnell voll laufen, daher ist hier keine Einstellung möglich</value>
      </setting>
      <setting name="OnMessageReceivedDiscordText" serializeAs="String">
        <value>Auf eine Twitch Nachricht, sollte am Besten auch auf Twitch reagiert werden und nicht auf Discord</value>
      </setting>
      <setting name="OnWhisperReceived" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnWhisperReceivedChatText" serializeAs="String">
        <value>Die Reaktion auf einer Chat-Nachricht erfolgt über die Bot-Kommandos. Eine Einstellung hier ist, außer die Aktivierung, nicht notwendig</value>
      </setting>
      <setting name="OnWhisperReceivedKonsoleText" serializeAs="String">
        <value>Die Ausgabe würde bei vielen Nachrichten sehr schnell voll laufen, daher ist hier keine Einstellung möglich</value>
      </setting>
      <setting name="OnWhisperReceivedDiscordText" serializeAs="String">
        <value>Auf eine Twitch Nachricht, sollte am Besten auch auf Twitch reagiert werden und nicht auf Discord</value>
      </setting>
      <setting name="OnNewSubscriber" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnNewSubscriberChatText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnNewSubscriberKonsoleText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnNewSubscriberDiscordText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnConnected" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnConnectedChatText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnConnectedKonsoleText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnConnectedDiscordText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnBeingHosted" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnBeingHostedChatText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnBeingHostedKonsoleText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnBeingHostedDiscordText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnRaidNotification" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnRaidNotificationChatText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnRaidNotificationKonsoleText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnRaidNotificationDiscordText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnJoinedChannel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnJoinedChannelChatText" serializeAs="String">
        <value>Das Event wird erzeugt, wenn sich der Bot an einem Channel verbindet. Diese Info hat nichts im Chat zu suchen</value>
      </setting>
      <setting name="OnJoinedChannelKonsoleText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnJoinedChannelDiscordText" serializeAs="String">
        <value>Das Event wird erzeugt, wenn sich der Bot an einem Channel verbindet. Diese Info hat nichts im Discord zu suchen</value>
      </setting>
      <setting name="OnUserJoined" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnUserJoinedChatText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnUserJoinedKonsoleText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnUserJoinedDiscordText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnExistingUsersDetected" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnExistingUsersDetectedChatText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnExistingUsersDetectedKonsoleText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnExistingUsersDetectedDiscordText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnExistingUsersDetectedChat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnExistingUsersDetectedKonsole" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnExistingUsersDetectedDiscord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnUserJoinedChat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnUserJoinedKonsole" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnUserJoinedDiscord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnJoinedChannelChat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnJoinedChannelKonsole" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnJoinedChannelDiscord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnRaidNotificationChat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnRaidNotificationKonsole" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnRaidNotificationDiscord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnBeingHostedChat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnBeingHostedKonsole" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnBeingHostedDiscord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnConnectedChat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnConnectedKonsole" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnConnectedDiscord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnNewSubscriberChat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnNewSubscriberKonsole" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnNewSubscriberDiscord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnWhisperReceivedChat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnWhisperReceivedKonsole" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnWhisperReceivedDiscord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnMessageReceivedChat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnMessageReceivedKonsole" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnMessageReceivedDiscord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnNewFollowersDetectedChat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnNewFollowersDetectedKonsole" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnNewFollowersDetectedDiscord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnStreamUpdateChat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnStreamUpdateKonsole" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnStreamUpdateDiscord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnStreamOfflineChat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnStreamOfflineKonsole" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnStreamOfflineDiscord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnStreamOnlineChat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnStreamOnlineKonsole" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnStreamOnlineDiscord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnRewardRedeemed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnRewardRedeemedChat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnRewardRedeemedChatText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnRewardRedeemedDiscord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnRewardRedeemedDiscordText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnRewardRedeemedKonsole" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnRewardRedeemedKonsoleText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnRaidGo" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnRaidGoChat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnRaidGoChatText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnRaidGoDiscord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnRaidGoDiscordText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnRaidGoKonsole" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnRaidGoKonsoleText" serializeAs="String">
        <value />
      </setting>
      <setting name="BitsReaction" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpdateTitleUse" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpdateTitleCommand" serializeAs="String">
        <value />
      </setting>
      <setting name="UpdateTitleChatText" serializeAs="String">
        <value />
      </setting>
      <setting name="UpdateTitleFailText" serializeAs="String">
        <value />
      </setting>
      <setting name="UpdateTitleAdmin" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateTitleBroadcaster" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateGameUse" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UpdateGameCommand" serializeAs="String">
        <value />
      </setting>
      <setting name="UpdateGameChatText" serializeAs="String">
        <value />
      </setting>
      <setting name="UpdateGameFailText" serializeAs="String">
        <value />
      </setting>
      <setting name="UpdateGameAdmin" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UpdateGameBoardcaster" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GoRaidTextUse" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="GoRaidTextChat" serializeAs="String">
        <value />
      </setting>
      <setting name="GoRaidTextFail" serializeAs="String">
        <value />
      </setting>
      <setting name="GoRaidTextAdmin" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GoRaidTextBroadcaster" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GoRaidTextCommand" serializeAs="String">
        <value />
      </setting>
      <setting name="SOUse" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SOChatText" serializeAs="String">
        <value />
      </setting>
      <setting name="SOFailText" serializeAs="String">
        <value />
      </setting>
      <setting name="SOAdmin" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SOBoardcast" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SOCommand" serializeAs="String">
        <value />
      </setting>
      <setting name="OnUserLeft" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnUserLeftChat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnUserLeftChatText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnUserLeftDiscord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnUserLeftDiscordText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnUserLeftKonsole" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnUserLeftKonsoleText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnClipCreated" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnClipCreatedChat" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnClipCreatedChatText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnClipCreatedDiscord" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnClipCreatedDiscordText" serializeAs="String">
        <value />
      </setting>
      <setting name="OnClipCreatedKonsole" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnClipCreatedKonsoleText" serializeAs="String">
        <value />
      </setting>
      <setting name="ClipCreateUse" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClipCreateCommand" serializeAs="String">
        <value />
      </setting>
      <setting name="ClipCreateChatText" serializeAs="String">
        <value />
      </setting>
      <setting name="ClipCreateFailText" serializeAs="String">
        <value />
      </setting>
      <setting name="ClipCreateAdmin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ClipCreateBoardcast" serializeAs="String">
        <value>False</value>
      </setting>
    </AntonBot.Properties.TwitchEvent>
    <AntonBot.Properties.TwitchScopes>
      <setting name="chat_edit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="chat_read" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="whispers_read" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="whispers_edit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="clientID" serializeAs="String">
        <value />
      </setting>
      <setting name="AccessToken" serializeAs="String">
        <value />
      </setting>
      <setting name="channel_manage_redemptions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="bits_read" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="channel_read_redemptions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="user_edit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="user_edit_broadcast" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="channel_editor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="channel_moderate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="user_read" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="clips_edit" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StandardChannel" serializeAs="String">
        <value />
      </setting>
      <setting name="AccessTokenPubSub" serializeAs="String">
        <value />
      </setting>
      <setting name="PubSubZusatz" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Online" serializeAs="String">
        <value>False</value>
      </setting>
    </AntonBot.Properties.TwitchScopes>
  </userSettings>
</configuration>